RewriteEngine On

# Redirect /es/example-es.html to /es/example
RewriteRule ^es/(.+)\.html$ /es/$1 [R=301,L]

# Set index file for /es directory
DirectoryIndex index.html

# Rewrite rule for English posts
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^posts/([0-9]+)/([0-9]+)/(.+)\.html$ /posts/$1/$2/$3 [L]

# Rewrite rule for Spanish posts
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^es/posts/([0-9]+)/([0-9]+)/(.+)\.html$ /es/posts/$1/$2/$3 [L]

# Rewrite non-existent directories to add .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect posts.html to /posts
RewriteRule posts.html /posts [R=301,L]

# Redirect /es/posts.html to /es/posts
RewriteRule es/posts.html /es/posts [R=301,L]
