.hero-about{
  position: relative;
  height: 60vh;

  .container-fluid{
    height: 100%;

    .row{
      height: 100%;

      .title{
        padding: 0;
        position: relative;

        .title-wrapper{
          padding: 25px 0;

          h1{
            text-align: center;
          }
        }
      }

      .description{
        padding: 0;
        position: relative;

        .description-wrapper{
          padding: 25px 0;

          text-align: center;
        }
      }

      .image{
        padding: 0;
        position: relative;
        height: 65%;
        z-index: 1;

        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .image-overlay{
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $primary;

          background-image: var(--bg-image);
          background-size: 100% 100%;
          border: solid 2px #4c8cd5;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .hero-about{
    height: 80vh;
    position: relative;
    overflow: hidden;

    .container-fluid{
      .row{
        .title{
          .title-wrapper{
            width: 600%;
            transform: rotate(-90deg);
            left: -250%;
            position: absolute;
            bottom: 50%;
          }
        }

        .description{
          .description-wrapper{
            width: 600%;
            transform: rotate(-90deg);
            left: -250%;
            position: absolute;
            bottom: 50%;
          }
        }

        .image{
          height: 100%;

          .image-overlay{
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}